ETL - Extraccion, Transformacion y Carga de datos.
Vamos a confecionar el ETL a la base de datos que nos proporcionaron, para dejar los datos listo para efectuar las consultas requeridas.

In [2]:
#Importamos librerias a utilizar
import pandas as pd

In [5]:
#importamos la base de datos y visualizamos
movies_db = pd.read_csv("Bases de Datos/movies_dataset.csv")
movies_db.head()

/var/folders/0_/ltv0fj2j4f5952b1hlmhyj_00000gn/T/ipykernel_14502/1671353284.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_db = pd.read_csv("Bases de Datos/movies_dataset.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [54]:
#Eliminamos las columnas que no consideramos necesarias
movies_db.drop(columns=["video", "imdb_id", "adult", "original_title", "vote_count", "poster_path", "homepage"], inplace=True)
movies_db.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7

In [55]:
#Observamos la informacion general del Data Frame (Tipo de datos, numero de columnas, etc)
movies_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 45466 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   45463 non-null  object
 8   production_countries   45463 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45460 non-null  float64
 11  runtime                45203 non-null  float64
 12  spoken_languages       45460 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  float64
dtypes: float64(3), object(14)
memory usage: 5.9+ MB

Consigna
- "Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,vote_count,poster_path y homepage."

In [56]:
#Eliminamos duplicados
movies_db.drop_duplicates(subset=["budget", "id", "original_language", "overview", "popularity", "release_date", "revenue", "runtime", "status", "tagline", "title", "vote_average"], inplace=True)

In [57]:
#Corroboramos la cantidad de filas
movies_db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45453 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   budget                 45453 non-null  object
 2   genres                 45453 non-null  object
 3   id                     45453 non-null  object
 4   original_language      45442 non-null  object
 5   overview               44499 non-null  object
 6   popularity             45448 non-null  object
 7   production_companies   45450 non-null  object
 8   production_countries   45450 non-null  object
 9   release_date           45366 non-null  object
 10  revenue                45447 non-null  float64
 11  runtime                45190 non-null  float64
 12  spoken_languages       45447 non-null  object
 13  status                 45366 non-null  object
 14  tagline                20408 non-null  object
 15  title                  45447 non-null  object
 16  vote_average           45447 non-null  float64
dtypes: float64(3), object(14)
memory usage: 6.2+ MB

Consigna
- "Los valores nulos del campo release date deben eliminarse."

In [58]:
#Observamos si hay valores nulos en la columna release date
movies_db["release_date"].isnull().sum()

87

In [59]:
#Vamos a eliminar todo los registros de release_date que sean nulos
movies_db = movies_db.drop(movies_db[movies_db["release_date"].isnull()].index)

In [60]:
#Corroboramos que no haya mas registros nulos en aquella columna
movies_db["release_date"].isnull().sum()

0

In [61]:
#Verificamos cantidad de filas 
movies_db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45366 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45366 non-null  object
 2   genres                 45366 non-null  object
 3   id                     45366 non-null  object
 4   original_language      45355 non-null  object
 5   overview               44425 non-null  object
 6   popularity             45364 non-null  object
 7   production_companies   45366 non-null  object
 8   production_countries   45366 non-null  object
 9   release_date           45366 non-null  object
 10  revenue                45363 non-null  float64
 11  runtime                45117 non-null  float64
 12  spoken_languages       45363 non-null  object
 13  status                 45283 non-null  object
 14  tagline                20394 non-null  object
 15  title                  45363 non-null  object
 16  vote_average           45363 non-null  float64
dtypes: float64(3), object(14)
memory usage: 6.2+ MB

Consigna
- "De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno."

In [62]:
#Vamos a cambiar el tipo de dato de la fecha
movies_db['release_date'] = pd.to_datetime(movies_db['release_date'], format='%Y-%m-%d', errors='coerce')

In [63]:
#Corroboramos tipo de dato
movies_db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45366 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45366 non-null  object
 2   genres                 45366 non-null  object
 3   id                     45366 non-null  object
 4   original_language      45355 non-null  object
 5   overview               44425 non-null  object
 6   popularity             45364 non-null  object
 7   production_companies   45366 non-null  object
 8   production_countries   45366 non-null  object
 9   release_date           45363 non-null  datetime64[ns]
 10  revenue                45363 non-null  float64
 11  runtime                45117 non-null  float64
 12  spoken_languages       45363 non-null  object
 13  status                 45283 non-null  object
 14  tagline                20394 non-null  object
 15  title                  45363 non-null  object
 16  vote_average           45363 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(13)
memory usage: 6.2+ MB

In [64]:
#Creamos la nueva columna release_year
movies_db['release_year'] = pd.to_datetime(movies_db['release_date']).dt.year.fillna(0).astype('int')

In [65]:
#Corroboramos
movies_db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45366 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45366 non-null  object
 2   genres                 45366 non-null  object
 3   id                     45366 non-null  object
 4   original_language      45355 non-null  object
 5   overview               44425 non-null  object
 6   popularity             45364 non-null  object
 7   production_companies   45366 non-null  object
 8   production_countries   45366 non-null  object
 9   release_date           45363 non-null  datetime64[ns]
 10  revenue                45363 non-null  float64
 11  runtime                45117 non-null  float64
 12  spoken_languages       45363 non-null  object
 13  status                 45283 non-null  object
 14  tagline                20394 non-null  object
 15  title                  45363 non-null  object
 16  vote_average           45363 non-null  float64
 17  release_year           45366 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(13)
memory usage: 6.6+ MB

In [66]:
#Visualizamos la nueva columna "release_year"
movies_db.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995

Consigna
- "Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0."

In [67]:
#verificamos si hay nulos
print("Nulos en revenue:", movies_db["revenue"].isnull().sum())
print("Nulos en budget:", movies_db["budget"].isnull().sum())

Nulos en revenue: 3
Nulos en budget: 0

In [68]:
#Remplazamos los nulos por cero
movies_db["revenue"].fillna(0, inplace=True)

In [69]:
#Corroboramos los valores nulos
print("Nulos en revenue:", movies_db["revenue"].isnull().sum())
print("Nulos en budget:", movies_db["budget"].isnull().sum())

Nulos en revenue: 0
Nulos en budget: 0

In [70]:
#observamos la columna budget. Buscamos anomalias. 
pd.Categorical(movies_db["budget"])

['30000000', '65000000', '0', '16000000', '0', ..., '0', '0', '0', '0', '0']
Length: 45366
Categories (1226, object): ['/ff9qCepilowshEtG2GYWwzt2bs4.jpg', '/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg', '/zaSf5OG7V8X8gqFvly88zDdRm46.jpg', '0', ..., '99000000', '994000', '996519', '998000']

In [71]:
#Remplazamos las anomalias por 0
movies_db["budget"].replace(['/ff9qCepilowshEtG2GYWwzt2bs4.jpg', '/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg', '/zaSf5OG7V8X8gqFvly88zDdRm46.jpg'], 0, inplace=True)

In [72]:
#Corroboramos que no haya mas anomalias 
pd.Categorical(movies_db["budget"])

['30000000', '65000000', '0', '16000000', '0', ..., '0', '0', '0', '0', '0']
Length: 45366
Categories (1224, object): [0, '0', '1', '10', ..., '99000000', '994000', '996519', '998000']

Consigna
- "Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0."

In [73]:
#Cambiamos el tipo de dato a float
movies_db["budget"] = movies_db["budget"].astype(float, errors="ignore")

In [74]:
#Con estas columnas creamos la columna return
movies_db["return"] = movies_db["revenue"] / movies_db["budget"]

In [75]:
#Visualizamos la nueva columna y verificamos tipo de dato. 
movies_db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45366 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45366 non-null  float64
 2   genres                 45366 non-null  object
 3   id                     45366 non-null  object
 4   original_language      45355 non-null  object
 5   overview               44425 non-null  object
 6   popularity             45364 non-null  object
 7   production_companies   45366 non-null  object
 8   production_countries   45366 non-null  object
 9   release_date           45363 non-null  datetime64[ns]
 10  revenue                45366 non-null  float64
 11  runtime                45117 non-null  float64
 12  spoken_languages       45363 non-null  object
 13  status                 45283 non-null  object
 14  tagline                20394 non-null  object
 15  title                  45363 non-null  object
 16  vote_average           45363 non-null  float64
 17  release_year           45366 non-null  int64
 18  return                 10909 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(12)
memory usage: 6.9+ MB

In [76]:
movies_db.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995,12.451801
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995,NaN
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995,5.090760
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995,inf

Consigna
- "Algunos campos, como belongs_to_collection, production_companies y otros (ver diccionario de datos) están anidados, esto es o bien tienen un diccionario o una lista como valores en cada fila, ¡deberán desanidarlos para poder y unirlos al dataset de nuevo hacer alguna de las consultas de la API! O bien buscar la manera de acceder a esos datos sin desanidarlos."

In [77]:
#Vamos a analizar la estructura de las columnas
print(movies_db["belongs_to_collection"][0])
print(movies_db["genres"][0])
print(movies_db["production_companies"][0])
print(movies_db["production_countries"][0])
print(movies_db["spoken_languages"][0])

{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}
[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
[{'name': 'Pixar Animation Studios', 'id': 3}]
[{'iso_3166_1': 'US', 'name': 'United States of America'}]
[{'iso_639_1': 'en', 'name': 'English'}]

In [78]:
#Buscamos nulos en las columnas que vamos a usar en las funciones porque pueden traer problemas
print(movies_db["production_countries"].isnull().sum())
print(movies_db["production_companies"].isnull().sum())
print(movies_db["genres"].isnull().sum())
print(movies_db["spoken_languages"].isnull().sum())

0
0
0
3

In [79]:
#Visualizamos formato de los datos, para luego comparar. 
movies_db.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995,12.451801
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995,NaN
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995,5.090760
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995,inf

In [80]:
#Importamos la libreria ast, que nos ayudara a desanidar las columnas que lo necesitan. 
import ast

In [81]:
#Creamos la funcion para desanidar el primer caso
def fetch_name2(obj): 
    
    if isinstance(obj, str) and '{' in obj:
        # print(obj)
        dic = ast.literal_eval(obj)

        return dic['name']

In [82]:
#Creamos la funcion para desanidar los otros casos
def fetch_name4(obj):
    if isinstance(obj, str) and '{' in obj:
        L=[]
        for i in ast.literal_eval(obj):
            L.append(i['name'])
        return L
    else:
        return []

In [83]:
#Se lo aplicamos a las columnas correspondientes
movies_db['belongs_to_collection'] = movies_db['belongs_to_collection'].apply(fetch_name2)

In [84]:
#Se lo aplicamos a las columnas correspondientes
movies_db['production_companies']  = movies_db['production_companies'].apply(fetch_name4)

In [85]:
movies_db['production_countries']  = movies_db['production_countries'].apply(fetch_name4)

In [86]:
movies_db['genres']  = movies_db['genres'].apply(fetch_name4)

In [87]:
movies_db['spoken_languages']  = movies_db['spoken_languages'].apply(fetch_name4)

In [88]:
#Visualizamos el nuevo formtao de las columnas correspondientes
movies_db.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return
0,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,1995,12.451801
1,None,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995,4.043035
2,Grumpy Old Men Collection,0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995,NaN
3,None,16000000.0,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995,5.090760
4,Father of the Bride Collection,0.0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995,inf

In [89]:
#Viasualizamos que tipo de dato poseen estas columnas despues de la tarnsformacion
print(type(movies_db["belongs_to_collection"][0]))
print(type(movies_db["production_companies"][0]))
print(type(movies_db["production_countries"][0]))
print(type(movies_db["genres"][0]))
print(type(movies_db["spoken_languages"][0]))

<class 'str'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [90]:
#Visualizamos los nulos en la columna "belongs_to_collection"
print(movies_db["belongs_to_collection"].isnull().sum())

40878

In [91]:
#Visualizamos los nulos en las otras columnas transformadas
print(movies_db["production_countries"].isnull().sum())
print(movies_db["production_companies"].isnull().sum())
print(movies_db["genres"].isnull().sum())
print(movies_db["spoken_languages"].isnull().sum())

0
0
0
0

In [92]:
#Importamos la libreria locale para sacar el dia de la semana
import locale

In [93]:
#Creamos nueva columna con el dia
movies_db["day"] = movies_db["release_date"].dt.strftime("%A").apply(lambda x: x.capitalize() if type(x) != float else x)

In [94]:
#comprobamos los datos
movies_db["day"].unique()

array(['Monday', 'Friday', 'Thursday', 'Wednesday', 'Saturday', 'Tuesday',
       'Sunday', nan], dtype=object)

In [95]:
#Creamos la columna mes
movies_db["month"] = movies_db["release_date"].dt.strftime("%B").apply(lambda x: x.capitalize() if type(x) != float else x)

In [96]:
#comprobamos los datos
movies_db["month"].unique()

array(['October', 'December', 'February', 'November', 'September', 'May',
       'April', 'August', 'July', 'June', 'January', 'March', nan],
      dtype=object)

In [97]:
#Visualizamos las nuevas columnas
movies_db.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return,day,month
0,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,...,81.0,[English],Released,NaN,Toy Story,7.7,1995,12.451801,Monday,October
1,None,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,...,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995,4.043035,Friday,December
2,Grumpy Old Men Collection,0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,...,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995,NaN,Friday,December
3,None,16000000.0,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,...,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995,5.090760,Friday,December
4,Father of the Bride Collection,0.0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,...,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995,inf,Friday,February

In [98]:
movies_db.to_csv("movies_db_mod8.cvs", index=False)